:root {
  scroll-behavior: smooth;
  --first-color: #ffe7de;
  --title-color: #ffd19a;
  --text-color: #00a676;
  --body-color: #a1e8cc;
  --container-color: black;

  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
}

body {
  font-family: var(--body-font);
  min-height: 100vh;
}

.navBar .item {
  width: 20px;
  height: 20px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer_title {
  text-align: center;
}
.social_icon {
  width: 20px;
  height: 20px;
}

footer {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
}

.container_icon {
  display: flex;
  justify-content: center;
  gap: 6px;
}
.creators {
  text-align: center;
  margin-bottom: 0px;
}
